{% extends 'base.html' %}

{% block content %}
<h2>Trocar Senha - {{ usuario.username }}</h2>

<form method="post">
    <div class="mb-3">
        <label for="nova_senha" class="form-label">Nova Senha</label>
        <input type="password" class="form-control" id="nova_senha" name="nova_senha" required>
    </div>

    <button type="submit" class="btn btn-primary">Atualizar Senha</button>
    <a href="{{ url_for('admin.listar_usuarios') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
